data/project-statistics.txt
config.yaml*
config-*
.RHistory
.RData
mysql.R
*.err
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea
*~
.DS_Store
*.swp
doc/build
